*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    margin: 1em;
    background-color: #1e66b9;
    width: 40%;
}
.container, h1, p, input, button{
    padding: 1em;
    border: none;
    border-radius: 20px;
}
h1{
    font-size: 3em;
    font-weight: bolder;
    color: #f6b790;
    background-color: #fff;
}
p{
    color: whitesmoke;
    font-size: larger;
}
#message{
    font-size: small;
    color: #f4bebe;
}
button{
    color: whitesmoke;
    background-color: #f6b790;
    border: none;
    border-radius: 0 10px 10px 0;
}
input{
    border: none;
    border-radius: 10px 0 0 10px;
}